.blue{
	background: rgb(68,130,60);
background: linear-gradient(164deg, rgba(68,130,60,0.5578606442577031) 9%, rgba(4,13,43,0.9136029411764706) 87%);
padding: 50px;
margin: 50px;
text-align: center;

}
.slate{
	background: rgb(195,34,140);
background: linear-gradient(0deg, rgba(195,34,140,1) 0%, rgba(89,139,167,1) 53%, rgba(93,194,93,1) 68%, rgba(204,207,83,1) 75%, rgba(253,45,45,1) 100%);
padding: 50px;
margin: 50px;
text-align: center;
}
.sky{
background: rgb(12,84,46);
background: radial-gradient(circle, rgba(12,84,46,1) 0%, rgba(87,43,43,1) 52%, rgba(233,148,148,1) 100%);
padding: 50px;
margin: 50px;
text-align: center;
}
h1{
	text-align: center;
}