h1{
	font-size:40px;
	text-align:center;
	border:24px;
	border-color:#000000;
	background-color:#866fbf;
	margin:25px;
	padding:11px;
	border-style:solid;
	border-radius:19px;
}
body{
	background-color:#c5abd6;
}
h2{
	text-align:center;
	background-color:#866fbf;
	border:10px dotted #000;
	margin:13px;
	padding:11px;
	border-radius:14px;
}
p{
	text-align:center;
}
ol{
	text-align:center;
}
.left{
	height:80px;
	border:7px double;
	align-items:center;
}
ul{
	text-align:center;
}