<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<title>Template</title>
</head>
<body>
<nav>
	<h3 class="BR"> BR <span id="a">Architects</span></h5>
	<ul>
			<li><a href="#example">Projects</a></li>
			<li><a href="#example">About</a></li>
			<li><a href="#example">Contact</a></li>
	</ul>
</nav>
<main>
<article>
	<div class="image"></div>
	<div class="color"></div>
	<div class="box"></div>

</article>
</main>



</body>
</html>