#black {
	    color: black;
	    background-color: black;
	    width: 2000px;
	    height: 60px;
}
#red{
	color: red;
	background-color: red;
	width: 2000px;
	height: 60px;
}
#yellow {
	color: yellow;
	background-color: yellow;
	width: 2000px;
	height: 60px;
}
h1{
	font-size: 45px;
	color: black;
	text-align: center;
}
img{
	width: 300px;
	float: right;
	border: 10px double red;
	
}